# Environment & Secret files
.env
.env.local
.env.*.local

# Python cache & virtual envs
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# System / OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor settings
.idea/
.vscode/
*.swp
*.swo
raster_map.html
*.py
final.geojson
tree_points.qmd
tree_points.geojson
index_2.html
